# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# build directory
build/*

# source drop location for googletest
src/third_party/googletest/src
